@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo|Jua&display=swap');

.out{
  width: 100%;
  text-align: center;
}

.in{
  /* margin-top:5%; */
  display: inline-block;
  padding:30px;
  /* border: 1px solid black;
  border-radius: 5px; */
}

.hangleLeftGuide{
  font-family: 'East Sea Dokdo', cursive;
  font-size: 50px;
}

.nextButton {
  font-family: 'Jua', sans-serif;
  padding:5px;
  border: 1px solid black;
  border-radius: 5px;
}

.time{
  font-family: 'Jua', sans-serif;
  color:#595959;
  /* color:#808080; */
  font-size:50px;
}

.hangleTime{
  font-family: 'Jua', sans-serif;
  font-size:30px;
}

.percent{
  font-family: 'Jua', sans-serif;
  font-size:30px;
  color:#595959;
}

.solStart{
  font-family: 'Jua', sans-serif;
}

.classIn{
  margin-top:5%;
  display: inline-block;
  padding:30px;
  border: 2px solid black;
  border-radius: 10px;
}

.cUp{
  font-family: 'Jua', sans-serif;
}

.ctime{
  font-family: 'Jua', sans-serif;
  color:#333333;
}

.changleTime{
  font-family: 'Jua', sans-serif;
}